#info {
  margin-top: -35px;
  position: relative;
  background:  rgba(51, 55, 57, 1.5);
  color: #fff;
  text-align: center;
  padding: 20px;
}

#info .contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-uni {
  margin: 10px;
}

.info-uni img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;

}
