@import url(https://fonts.googleapis.com/css?family=Open+Sans); /* importa direccion de la fuente de origuen de google fonts */
body {
  background-image: url(../img/fondoadmiconf.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.conten{
  text-align: center;
  width: 96%;
  height: 850px;
  margin: 20px auto;
}
div.tutulo{
  text-align: center;
}
